{% extends "base.twig" %}

{% block title %}Home
	{{ parent() }}
{% endblock %}

{% block content %}
	<h1>index.twig</h1>
	    <ul>
        {% for item in bodyRecords %}
		<h3>{{ item.name }}</h3>
            <h5>{{ item.title }}</h5>
			<p>{{ item.description }}</p>
			<a href="{{url}},more-{{ item.id }}">Read More</a>

        {% endfor %}
    </ul>
{% endblock %}
