{% extends "admin/base.twig" %}

{% block title %}Menu -
	{{ parent() }}
{% endblock %}

{% block content %}
	<h2>Menu Items</h2>


	{% macro renderNestedList(item, data) %}
		<li>{{ item.title }}
			<a href="/admin/body/{{ item.id }}">Body</a>
			<a href="/admin/menu/update/{{ item.id }}">Edit</a>
			<a href="/admin/menu/delete/{{ item.id }}">Delete</a>
		</li>
		{% set children = data|filter(child => child.parent_id == item.id) %}
		{% if children is not empty %}
			<ul>
				{% for child in children %}
					{{ _self.renderNestedList(child, data) }}
				{% endfor %}
			</ul>
		{% endif %}
	{% endmacro %}

	<ul>
		{% for item in data %}
			{% if item.parent_id == 0 %}
				{{ _self.renderNestedList(item, data) }}
			{% endif %}
		{% endfor %}
	</ul>

{% endblock %}
