{% extends "admin/base.twig" %}

{% block title %}Create body -
	{{ parent() }}
{% endblock %}

{% block content %}
<div class="form">
	{% if formAction == 'update' %}
		<h6>Edit record - <span>{{ sectionName }}</span></h6>
		<form action="/admin/body/update/{{ edit.id }}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="parent_id" name="parent_id" value="{{ edit.parent_id }}">
	{% else %}
        <h6>Add record - <span>{{ sectionName }}</span></h6>
        <form action="/admin/body/create/{{ section }}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="parent_id" name="parent_id" value="{{ section }}">
	{% endif %}
    {% if error %}
        <div class="error">
            {% for message in error %}
                <p class="error_message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ edit.name ?? '' }}">
    </div>
    <div class="row">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ edit.title ?? '' }}">
    </div>

    <div class="row">
    <textarea id="description" name="description">{{ edit.description ?? '' }}</textarea>
    </div>

    <div class="row">
        <label for="status">Status:</label>
        <input type="checkbox" id="status" name="status" {% if edit.status == 1 %}checked{% endif %}>
    </div>

    <div class="row">
        <label for="more">More:</label>
        <input type="checkbox" id="more" name="more" {% if edit.more == 1 %}checked{% endif %}>
    </div>

    <div class="row">
        <label for="photo1">Photo 1:</label>
        {% if edit.photo1 %}
            <div>
                <img src="/uploads/{{ edit.photo1 }}" alt="Photo 1" style="width: 100px; height: auto;">
            </div>
        {% endif %}
        <input type="file" name="photo1">
    </div>

    <div class="row">
        <label for="photo2">Photo 2:</label>
        {% if edit.photo2 %}
            <div>
                <img src="/uploads/{{ edit.photo2 }}" alt="Photo 2" style="width: 100px; height: auto;">
            </div>
        {% endif %}
        <input type="file" name="photo2">
    </div>

    <div class="row">
        <label for="photo3">Photo 3:</label>
        {% if edit.photo3 %}
            <div>
                <img src="/uploads/{{ edit.photo3 }}" alt="Photo 3" style="width: 100px; height: auto;">
            </div>
        {% endif %}
        <input type="file" name="photo3">
    </div>

    <div class="row">
        <label for="photo4">Photo 4:</label>
        {% if edit.photo4 %}
            <div>
                <img src="/uploads/{{ edit.photo4 }}" alt="Photo 4" style="width: 100px; height: auto;">
            </div>
        {% endif %}
        <input type="file" name="photo4">
    </div>
    {% if formAction == 'update' %}
        <div class="row">
            <label for="parent_id">Move to:</label>
            <select name="parent_id" id="parent_id">
            <option value="{{ section}}" selected>{{ sectionName }}</option>
                {% macro render_options(items, level = 0, selected_id = null) %}
                    {% for item in items %}
                        <option value="{{ item.id }}" {% if selected_id == item.id %}selected{% endif %}>
                            {{ item.title }}
                        </option>
                        {% if item.children is defined %}
                            {{ _self.render_options(item.children, level + 1, selected_id) }}
                        {% endif %}
                    {% endfor %}
                {% endmacro %}
                
                {{ _self.render_options(menu, 0, edit.parent_id) }}
            </select>
        </div>
    {% endif %}

    <div class="buttons">
		<button type="submit" name="submit" class="green-button">Save</button>
        <a href="/admin/body/{{ section }}" class="red-button">Cancel</a>
    </div>
	</form>
    
</div>

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script>
    CKEDITOR.replace('description', {
        height: 400,
        width: '100%'
    });
    </script>
	{% endblock %}
