{% extends "admin/base.twig" %}

{% block title %}Create menu -
	{{ parent() }}
{% endblock %}

{% block content %}
<div class="form">
	{% if formAction == 'update' %}
			<h6>Edit</h6>
			<form action="/admin/menu/update/{{ edit.id }}" method="post">
		{% else %}
			<h6>Add item</h6>
			<form action="/admin/menu/create" method="post">
	{% endif %}
			<input type="hidden" name="id" value="{{ edit.id }}">
			<div class="row">
				<label for="title">Tytuł:</label>
				<input type="text" id="title" name="title" value='{{ edit.title }}'>
				<p class="error_message">{{ error[0] }}</p>
			</div>
			<div class="row">
				<label for="status">Status:</label>
				<select id="status" name="status">
					<option value="1" {% if edit.status == 1 %} selected {% endif %}>Aktywne</option>
					<option value="0" {% if edit.status == 0 %} selected {% endif %}>Nieaktywne</option>
				</select>
			</div>
			<div class="row">
				<h4>Menu:</h4>
			</div>
			{% include 'admin/menu/menuInputRadio.twig' %}

			<button type="submit" class="green-button" name="submit">Add</button>
		</form>
</div>
	{% endblock %}
