{% extends "admin/base.twig" %}

{% block title %}Menu -
	{{ parent() }}
{% endblock %}

{% block content %}
    <div class="menu_list">
    <h6>Menu Items</h6>
    {% macro renderNestedList(item, data, counts) %}
        <li>
        <div class="menu_title">{{ item.title }}</div>
        <div class="menu_counter" data-records="{{ counts[item.id] | default(0) }}"> {{ counts[item.id] | default(0) }} records</div>
        <div class="action_buttons">
            <a href="/admin/banner/{{ item.id }}">Banner</a>
            <a href="/admin/body/{{ item.id }}">Body</a>
            <a href="/admin/menu/update/{{ item.id }}">Edit</a>
            <button class="delete-menu-button"  data-id="{{ item.id }}">Delete</button>
        </div>
        </li>
        {% set children = data|filter(child => child.parent_id == item.id) %}
        {% if children is not empty %}
            <ul class="nested">
                {% for child in children %}
                    {{ _self.renderNestedList(child, data, counts) }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    <ul class="nested">
        {% for item in data %}
            {% if item.parent_id == 0 %}
                {{ _self.renderNestedList(item, data, counts) }}
            {% endif %}
        {% endfor %}
    </ul>
    </div>
{% endblock %}



